
@font-face {
    font-family: roboto-thin;
    src: url('/project/assets/Roboto/Roboto-Thin.ttf');
}
@font-face {
    font-family: roboto-light;
    src: url('/project/assets/Roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: roboto-medium;
    src: url('/project/assets/Roboto/Roboto-Medium.ttf');
}

input[type="button"],input[type="submit"]{
 font-size:100%;
 background-color:#999;
 margin:0px;
 -webkit-transition:background-color 0.3s , box-shadow 0.3s,color 0.3s;
 transition:background-color 0.3s , box-shadow 0.3s,color 0.3s;
 border:none;
 outline:none;
 padding:6px;
 border-radius:0px;
 }

input[type=button]:disabled{
	background-color:#bbb;
	color:#555;
}

input[type="submit"]:hover,input[type="button"]:hover:not([disabled]),input[type=file]::-webkit-file-upload-button:hover{
	background-color:#aaa;
	box-shadow: 0px 4px 4px #555; 
}

input[type="button"]:active:not([disabled]),input[type="submit"]:active,input[type=file]::-webkit-file-upload-button:active{
    background-color:#444;
    color:#fff;
	box-shadow: 0px 2px 2px #555; 
}

label {
display: inline-block;
cursor: pointer;
position: relative;
font-size: 100%;
padding-left: 25px;
margin-right: 15px;
font-family:roboto-medium;
transition: color 0.2s;
color:#555;
}

input[type=radio] {
display: none;
}

label:before {
content: "";
display: inline-block;
width: 16px;
height: 16px;
margin-right: 10px;
position: absolute;
left: 0;
bottom: 1px;
border-radius:0;
border:2px solid #111;
transition: background-color 0.4s;
}	

input[type=radio]:checked + label:before{
background-color: #111;
font-size: 30px;
text-align: center;
line-height: 18px;
color:#111;
}

input[type=radio]:checked + label{
color:#111;
}

body{
	font-family: roboto-light;
	background-color: #ddd;
}

input[type=text],input[type=password]{
	font-family: roboto-light;
	text-decoration:none;
	outline:none;
	border:none;
	font-size:120%;
    display:inline-block;
    border-bottom:2px solid #aaa;
    transition:border 0.3s ease;    
}

input[type=text]:focus,input[type=password]:focus{
	border-bottom:2px solid blue;
}

.inputerror{
	color:red;
	font-size: 80%;
}

.inputdiv{
	text-align:left;
	padding:0px;
	margin-left: auto;
	margin-right: auto;
}